{% extends "base.html" %}
{% block content %}
<h2>Your Shortened URLs</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Original URL</th>
      <th>Short URL</th>
      <th>Total Clicks</th>
    </tr>
  </thead>
  <tbody>
    {% for link in links %}
    <tr>
      <td><a href="{{ link.original_url }}" target="_blank">{{ link.original_url }}</a></td>
      <td><a href="{{ url_for('redirect_url', short_code=link.short_code, _external=True) }}" target="_blank">
        {{ url_for('redirect_url', short_code=link.short_code, _external=True) }}</a></td>
      <td>{{ link.clicks|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
